
.logoNavBar {
    width: 15rem;
    height: 8rem;
    text-align: center;
}

.navBar1 {
    background-image: url("https://cdn.pixabay.com/photo/2015/09/29/15/12/stars-964022_960_720.png");
    background-size: cover;

}

.navBar2 {
    background-image: url("https://cdn.pixabay.com/photo/2015/09/29/15/12/stars-964022_960_720.png");
    background-size: cover;

    border: 1px white solid;
}
.linkToView{
    color: white;
    text-decoration: none;
}
/* Sección componente HOME */
.home {
    background: gray;
    
}
.carouselContainer{
    width: 100%;
    background-image: url("https://fondosmil.com/fondo/5450.jpg");

}
.carouselContent{
    width: 900px;
}